body {
    overflow: hidden;
    font-size: 1.25em !important;
}

.toolbar {
    padding: .5em;
    background-color: rgb(83, 83, 83);
}

.mailbox {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 95vh;
    position: relative;
    border:solid;
    border-color: #eeeeee;
}

.reader-body {
    overflow: hidden;
    height: 75vh;
    position: relative;
    border:solid;
    border-color: #eeeeee;
}

.mailbox a {
    text-decoration: none;
}

.alert {
    padding: 0 !important;
}

.reader {
    margin-top: 0em !important;
    margin-right: .5em !important;
    height: 50vh !important;
}

.reader .header {
    background-color: #eeeeee;
}

iframe {
    border-style: none;
}

.spamWords .label {
    margin: .5em;
}
